body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.face {
    width: 150px;
    height: 150px;
}

.parallax-container{
	z-index:-100;
}

.sub_header {
    margin-left: 10px;
}

.lecture-video {
    padding: 10px;
    height: 400px;
}