body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.face {
    width: 150px;
    height: 150px;
}

.parallax-container{
	z-index:-100;
    height:95vh;
}

.sub_header {
    margin-left: 10px;
}

.lecture-video {
    padding: 10px;
    height: 400px;
}

.event{
    min-height:200px;
}

.caption {
    position: relative;
    top: 30%;
}

.caption-box {
    /*background-color: #767676;*/
}

.caption-background {
    position: absolute;

}

.event-side{
    width:20%;
    /*height:100%;*/
    float:left;
    border-right:1px solid rgba(160,160,160,0.2);;
    padding:2%;
}

.event-main{
    width:80%;
    height:100%;
    float:right;
    padding:2%;
}

@media(max-width: 750px){
    .event-side{
    width:40%;
    padding:6%;
    }

    .event-main{
    width:50%;
    padding:6%;
    }

    .calendar{
        display:none;
    }
}

strong{
    font-weight:bold;
}
